.container-my-button {
  align-items: center;
  border: 0px;
  border-radius: 6px;
  background-color: rgb(49, 49, 255);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 28px;
  justify-content: center;
  outline: none;
}

.container-my-button:hover {
  background-color: rgba(49, 49, 255, 0.772);
  transition: 0.3s;
}