.container-my-button {
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgb(49, 49, 255);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 28px;
  justify-content: center;
  outline: none;
  user-select: none;
}

.my-button-light {
  background-color: #fff;
  color: rgb(49, 49, 255);
}

.my-button-light:hover {
  background-color: rgb(49, 49, 255);
  color: #fff;
  transition: 0.3s;
}

.my-button-dark {
  background-color: rgb(49, 49, 255);
  color: #fff;
}
