.menu-container {
  background-color: #fff;
  height: 100%;
  transition: 0.4s;
  position: fixed;
  text-wrap: nowrap;
  width: 42px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  z-index: 1;
}

.menu-container:hover {
  width: 190px;
}

.menu-container span {
  padding-left: 12px;
}

.menu-container:hover li {
  display: flex;
}

.menu:hover li .container-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu {
  color: #858585;
  height: calc(100% - 44px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu:hover {
  overflow-y: auto;
}

.menu li {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.menu li:hover {
  background-color: rgb(0, 17, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-weight: 700;
}


.menu .submenu {
  text-wrap: nowrap;
  padding-left: 32px;
}

.divider {
  border-bottom: 1px dashed #c8c8c8;
  margin: 0px auto;
  width: 150px;
}

.container-menu-footer {
  height: 44px;
  background-color: rgb(218, 218, 218);
}