.my-totalization-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100px;
}

.my-totalization-title {
  font-size: 12px;
}

.my-totalization-content {
  font-size: 18px;
  font-weight: 600;
}