@keyframes openModal {
  0% {
    /** modal inicial 10% menor */
    transform: scale(0.9);
  }

  100% {
    /** o modal volta pro seu tamanho original */
    transform: scale(1);
  }
}

.my-modal {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.my-modal-body {
  animation: openModal;
  animation-duration: 0.4s;
  /** a funçao começa e termina lentamente, com uma aceleração suave no meio */
  animation-timing-function: ease;
  background-color: #fff;
  border-radius: 10px;
  height: 95%;
  width: 95%;
}

.my-modal-content {
  height: calc(100% - 35px);
}

.my-modal-title {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: space-between;
  margin: 10px 10px 0px 10px;
}

.my-modal-title button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  height: 30px;
  width: 30px;
}