* {
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 12px;
  background-color: rgb(241, 245, 250);
}

ul {
  list-style: none;
}

.my-display-none {
  display: none;
}

.my-display-block {
  display: block;
}

.width-100-perc {
  width: 100%;
}

.my-checkbox-style {
  display: flex;
  flex-direction: column;
  gap: 8;
}

.my-checkbox-style li {
  display: flex;
  gap: 6px;
  align-items: center;
}