@keyframes mydrawer-growing {
  from {
    width: 0px;
  }

  to {
    width: 40%;
  }
}

@media(max-width: 750px) {
  @keyframes mydrawer-growing {
    from {
      width: 0px;
    }

    to {
      width: 80%;
    }
  }
}

#mydrawer-background {
  background-color: rgba(0, 0, 0, 0.480);
  bottom: 0px;
  height: 100vh;
  left: 0px;
  position: fixed;
  width: 100vw;
  z-index: 2;
  
}

.mydrawer-header {
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.mydrawer-header button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 12px;
}

.mydrawer-header button:hover {
  color: rgb(56, 134, 236);
  transition: 0.2s;
}

.mydrawer-content-box {
  height: 100%;
  float: right;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid #00000083;
}

.mydrawer-content-open {
  animation: mydrawer-growing 0.3s forwards;
  background-color: white;
}

.mydrawer-body {
  padding: 16px;
  height: calc(100% - 85px);
}