@keyframes mydrawer-growing {
  from {
    width: 0px;
  }

  to {
    width: 65%;
  }
}

@media (max-width: 750px) {
  @keyframes mydrawer-growing {
    from {
      width: 0px;
    }

    to {
      width: 90%;
    }
  }
}

#mydrawer-background {
  background-color: rgba(0, 0, 0, 0.48);
  bottom: 0px;
  height: 100vh;
  left: 0px;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.mydrawer-header {
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  padding: 16px;
  justify-content: space-between;
  margin-right: 10px;
  user-select: none;
}

.mydrawer-header button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 12px;
}

.mydrawer-header button:hover {
  color: rgb(56, 134, 236);
  transition: 0.2s;
}

.mydrawer-content-box {
  height: 100%;
  float: right;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid #00000083;
}

.mydrawer-content-open {
  animation: mydrawer-growing;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  /** 
    Esse propriedade abaixo significa que:
    - Quando a animação chegar em 100%, é para reter os estilos finais de animação.
      Ou seja, no meu exemplo, quando a animação chegar ao final, permanecerá em 90% de width
      que é o que foi definido na mydrawer-growing.
  */
  animation-fill-mode: forwards;
  background-color: white;
}

.mydrawer-body {
  padding: 16px;
  height: calc(100% - 85px);
}