.mytable-skedol {
  width: 100%;
  overflow: auto;
}

.mytable-thead {
  background-color: rgb(246, 246, 246);
  text-wrap: nowrap;
}

.mytable-thead tr th {
  font-weight: normal;
}

.mytable-thead tr th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mytable-thead tr th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mytable-thead tr th:last-child {
  padding-right: 0px;
}

.mytable-thead tr th,
.mytable-tbody tr td {
  overflow: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 25px;
  padding-left: 10px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.mytable-tbody tr:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  transition: 0.1s;
}

.mytable-tbody td {
  border-right: 1px solid rgb(235, 235, 235);
  text-wrap: nowrap;
}

.mytable-tbody td:last-child {
  border-right: 0px;
}
