/** cores */
.my-color-blue {
  color: #00198a;
}

.my-color-red {
  color: #fc003f;
}

.my-color-gray {
  color: #424242;
}

/** estilo da fonte */
.my-fw-600 {
  font-weight: 600;
}

.my-fw-normal {
  font-weight: normal;
}

/** margens */
.my-mb-10px {
  margin-bottom: 10px;
}

.my-mt-10px {
  margin-top: 10px;
}

/** visibilidade */
.my-visibility-visible {
  visibility: visible;
}

.my-visibility-hidden {
  visibility: hidden;
}

.my-flex-dir-col {
  flex-direction: column;
}
